@import "../../style/local.scss";

.category-tab{
    @include flex-column;
    height: 100%;
    animation: fadeout 0.5s;
    &__name {
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 33px;
      letter-spacing: -0.725px;
      color: $text-color;
      margin-bottom: 30px;
    }
 
      &__button {
        width: 95px;
        margin-left: 15px;
      }
    
      &__heading {
        @include flex-row;
        justify-content: right;
        padding-bottom: 15px;
        border-bottom: 2px solid $main-bg;
      }
    
      &__content {
        position: relative;
        @include flex-column;
        justify-content: space-between;
        box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
          0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
          0px 3.5px 35px rgba(90, 97, 105, 0.1);
        border-radius: 9px;
        background: $white;
        padding: 14px 21px;
        height: 100%;
      }
    
      &__categories {
        @include flex-column;
        justify-content: space-between;
        padding-top:15px;
        flex-grow: 1;
        height: 100%;
      }
      
      &__change{
          margin:10px 0;
          float: right;
      }
}