@import "../../style/local.scss";

.orders-tab {
  @include flex-column;
  height: 100%;
  animation: fadeout 0.5s;
  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: $text-color;
    margin-bottom: 30px;
  }

  &__filters {
    @include flex-row;
    .dropdown-filter {
      margin-right: 15px;
    }
  }

  &__button {
    width: 95px;
    margin-left: 15px;
  }

  &__heading {
    @include flex-row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid $main-bg;
  }

  &__content {
    @include flex-column;
    box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
      0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
      0px 3.5px 35px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    background: $white;
    padding: 14px 21px;
    height: 100%;
  }

  &__orders {
    flex-grow: 1;
    overflow-y: scroll;
    height: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .orders-tab {
    &__filters {
      flex-wrap: wrap;
      .dropdown-filter {
        margin-bottom: 15px;
      }
    }

    &__orders {
      flex-grow: 1;
      overflow-y: scroll;
      height: 100%;
    }

    &__button {
      margin-bottom: 15px;
    }
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
