$main-accent: #0ec261;
$blue: #007bff;
$black: #121212;
$gray: #999999;
$gray-light: #eeeeee;
$main-bg: #f5f6f8;
$text-color: #3D5170;
$text-color-alt: #495057;
$white: #fff;
$color-blue: #007bff;
$color-disabled: #e9ecef;
$color-red: #cb3656;
$white: #ffffff;
$gray-dark:#becad6;