@import "../../style/local.scss";

.table {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: $color-gray-alt;
  border-collapse: collapse;
  animation: fadein 1s;

  &__header {
    font-weight: bold;
    letter-spacing: -0.377143px;
    color: $text-color;
    height: 35px;
    border-bottom: 1px solid $main-bg;
  }
  &__body {
    border-bottom: 1px solid $main-bg;
  }
}

@media screen and (max-width: 900px) {
  .table {
    &__main-head {
      display: none;
    }
    tr {
      margin-bottom: 10px;
      display: block;
    }
    td {
      display: block;
      border-right: 1px solid transparent;
    }
    td:last-child {
      border-bottom: 0;
    }
    td:before {
      content: attr(data-label);
      margin-right: 10px;
      float: left;
      font-weight: bold;
    }
    button{
      float:none;
    }
  }
}
